@keyframes pagefadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body{
    font-family: "VT323", monospace;
    animation: pagefadein 1s ease-in-out;
}

.pvpbody{
    color:whitesmoke;
    background-image: url('pics/bg1.jpg');
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
}

#pvpchoosecontainer{
    z-index: 4;
    position:absolute;
    left :50%;
    top:50%;
    transform:translate(-50%, -50%);
    width:  60%;
    height: 75%;
    padding: 2%;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(229, 229, 229);
}

#pvp2{
    display: none;
}
#pvpchoosecontainer b{
    font-size:60pt;
    color:black;
    border-radius: 2px;
    padding: 2px;
}
#pvpchoosecontainer button{
    width: 80%;
    padding:1%;
    font-size: 17pt;
    font-family: "VT323", monospace;
}
.selection1{
    margin:1%;
    border: 2px dashed rgb(0, 0, 0);
    height: 40%;
}
.submit{
    background-color: rgb(17, 77, 40);
    color:white;
    border: 3px solid black;
}


#turns{
    display: none;
    font-size: 20pt;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}

.space{
    width: 100%;
}
.actual{
    background-color: rgb(253, 241, 226);
    color: black;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid;
    width: 300px;
    height: 330px;
    margin-right: auto;
    margin-left: auto;
}

.player button{
    font-family: "Madimi One";
    font-size: 10pt;
    width: 100%;
    height: 60px;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    border: none;
    border-radius: 2px;
    color:white;
}
.player button b{
    font-size: 13pt;
}
#moves1 #firemoves1 button{
    background-color: rgb(175, 0, 0);
}
#moves1 #watermoves1 button{
    background-color: rgb(18, 35, 75);
}
#moves1 #earthmoves1 button{
    background-color: rgb(71, 46, 46);
}
#moves1 #windmoves1 button{
    background-color: rgb(231, 244, 255);
    color:black;
}

#moves2 #firemoves2 button{
    background-color: rgb(175, 0, 0);
}
#moves2 #watermoves2 button{
    background-color: rgb(18, 35, 75);
}
#moves2 #earthmoves2 button{
    background-color: rgb(71, 46, 46);
}
#moves2 #windmoves2 button{
    background-color: rgb(197, 200, 203);
    border: 2px solid rgb(179, 238, 245);
    color:black;
}


.player1moves{
    display:none;
}
.player2moves{
    display: none;
}

